@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dhurjati&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', serif;
    font-family: 'Dhurjati', sans-serif;

}

:root {
    --mainColor: rgb(95, 93, 93);
    --secondaryColor: rgb(133, 131, 131);
    --textColor: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: white;
    justify-content: space-between;
}

nav a {
    margin: 2rem;
    color: var(--textColor);
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

}

header .responsive_nav{
    transform: none;
}

nav .nav-close-btn{ 
position: absolute;
top: 2rem;
right: 2rem;
}

nav a{
    font-size: 1.5rem;
}
